@font-face {
	font-family: 'GillSansMTPro-Book';
	src: url('fonts/gillsansmtpro-book-webfont.eot');
	src: local('☺'), url('fonts/gillsansmtpro-book-webfont.woff') format('woff'), url('fonts/gillsansmtpro-book-webfont.ttf') format('truetype'), url('fonts/gillsansmtpro-book-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'GillSansMTPro-Light';
	src: url('fonts/gillsansmtpro-light-webfont.eot');
	src: local('☺'), url('fonts/gillsansmtpro-light-webfont.woff') format('woff'), url('fonts/gillsansmtpro-light-webfont.ttf') format('truetype'), url('fonts/gillsansmtpro-light-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GillSansMTPro-Medium';
	src: url('fonts/gillsansmtpro-medium-webfont.eot');
	src: local('☺'), url('fonts/gillsansmtpro-medium-webfont.woff') format('woff'), url('fonts/gillsansmtpro-medium-webfont.ttf') format('truetype'), url('fonts/gillsansmtpro-medium-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}