.desktop-top-menu {
	display: none;
}

#header #logo {
    padding: 15px 0;
    width: 80px;
    height: 70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#header {
    border-bottom: 4px solid #333;
}

/* Mobile menu css */
.mobile-menu-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.mobile-menu-buttons i {
    font-size: 24px;
    color: #333;
    margin-right: 20px;
    vertical-align: middle;
}

.mobile-social i {
    font-size: 24px;
    color: #333;
    margin-left: 10px;
}

.mobile-social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

#menu-jamdx .sub-menu {
    padding: 0px 18px 0 25%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0;
}

#menu-jamdx .submenu-list-open .sub-menu {
    padding: 20px 18px 0 25%;
}

#menu-jamdx .sub-menu li.menu-item {
    padding: 5px 0;
}

#menu-jamdx .sub-menu li.menu-item a {
    font-size: 12px;
    text-align: left;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.8px;
}

#menu-jamdx li.menu-item {
    position: relative;
    padding: 10px 0;
    list-style: none;
}

#menu-jamdx li.menu-item.submenu-list-open {
    border: 1px solid #333;
    border-left: 0;
    border-right: 0;
}

.mobile-submenu {
    padding: 14px;
    position: absolute;
    top: 5px;
    right: 30px;
    color: #333;
}

.mobile-submenu:before {
    content: "\f0d7";
}

.mobile-submenu--closed:before {
    content: "\f0d8";
}

#header #navigation ul#main-nav li a, #menu-jamdx li a {
    font-family: 'Oswald', sans-serif !important;
    text-align: left;
    font-weight: 400;
    color:#111;
}

nav#menu-jamdx {
    position: absolute;
    z-index: 10;
    top: 75px;
    bottom: 0;
    width: 100%;
    background-color: #FFFFED;
    padding-top: 20px;
    overflow: auto;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 300ms, opacity 300ms linear;
}

.mobile-menu-open nav#menu-jamdx {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms linear;
}

#menu-jamdx ul li a {
    color: #333 !important;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2.5px;
}

body.mobile-menu-open {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.close-menu-btn.fa-bars:before {
    content: "X";
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

/* Mobile search css */
ul.mobile-search {
    position: absolute;
    bottom: -90px;
    background-color: #fff;
    padding-top: 0px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 300ms, opacity 300ms linear;
	z-index: 10;
}

.mobile-search-open ul.mobile-search {
	visibility: visible;
	opacity: 1;
	transition: opacity 300ms linear;
	box-shadow: 1px 5px 20px -7px #333;
}

.desktop-top-menu li.search {
    padding: 0;
}

.mobile-search label.screen-reader-text {
    display: none;
}

.mobile-search #searchform {
    display: flex;
    justify-content: center;
}

.mobile-search input[type=search] {
    -webkit-appearance: none;
    flex-grow: 1;
    margin-left: 5px;
}

/* media queries for desktop */
@media only screen and (min-width: 780px) {

	/*header and navigation*/
	.desktop-top-menu {
		display: block;
	}

	.mobile-menu-buttons, .mobile-social {
	    display: none;
	}

	#header #logo {
	    width: 160px;
	}

	#top ul.nav > li a {
	    padding: 0;
	}

	#top .wc-nav li.cart a {
	    padding-left: 1em;
	}

	#top ul.nav > #menu-item-189 a {
		padding-left: 5px;
	}

	#top .wc-nav li.cart a {
	    padding-left: 0;
	}

	#top ul.nav {
	    float: none;
	}

	input[type="search"] {
	    border: 0;
	}

	input[type="search"]:focus {
	    box-shadow: none;
	}

	li.search {
		position: relative;
	}

	li.search:after {
	    content: "\f002";
	    display: inline-block;
	    font-family: 'FontAwesome';
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    position: absolute;
        top: 4px;
        right: 40px;
	}

	#header #navigation ul#main-nav {
	    display: flex;
	    justify-content: space-around;
	}

	header#header {
	    width: 100% !important;
	    min-width: 100% !important;
	    margin-bottom: 0 !important;
	    border-bottom: 5px solid #111;
	}

	nav#navigation {
	    width: 100% !important;
	    min-width: 100% !important;
	}
}